{
  "extends": "eslint:recommended",
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "globals": {
    "React": false,
    "ReactDOM": false
  },
  "rules": {
    "no-console": 0,
    "no-unused-vars": 1
  }
}
